<div mat-dialog-title class="d-flex">
  <p>Редагувати замовлення</p>
  <button
  (click)="addProduct()"
  mat-icon-button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon >add</mat-icon>
</button>
</div>



<div mat-dialog-content>
  <div class="product" *ngFor="let order of orders">
    <div class="product_img">
      <img [src]="order.product.img" alt="">
    </div>
    <div class="product_decr">
      <p><strong>Категорія</strong>: {{order.product.categoryUA | titlecase}}</p>
      <p><strong>Виробник</strong>: {{order.product.producer | titlecase}}</p>
      <p><strong>Модель</strong>: {{order.product.model | titlecase}}</p>
      <p><strong>Розмір</strong>: {{order.product.size | titlecase}}</p>
      <p><strong>Серійний номер</strong>: {{order.product.seriusNumber}}</p>
    </div>
    <div class="product_count">
      <div><button (click)="minuseProduct(order)">-</button> {{order.count}} <button (click)="plusProduct(order)">+</button></div>
    </div>
    <div class="product_sum">{{order.count * order.product.price }} грн.</div>
    <button class="product_delete" (click)="deleteProduct(order)">&#215;</button>
  </div>
  <div>
   Сума: {{ totalPrice }}
  </div>

  <form class="form" enctype="multipart/form-data" [formGroup]="form">
    <div class="form-group">
      <!-- Producer field -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ваше Ім'я</mat-label>
        <input matInput placeholder="ПІБ" formControlName="userName">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Номер телефону</mat-label>
        <input matInput placeholder="BL-3" formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="BL-3" formControlName="email">
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close [mat-dialog-close]="false">Скасувати</button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="makeOrder()">Підтвердити</button>
</div>
