<div class="">
  <footer class="footer">
    <div class="footer-top">
      <div class="footer-container">
        <div class="logo-wrap">
          <img class="logo-img" src="../../../assets/images/Logo.png" alt="Router Lviv">
          <span class="logo">LVIV <br>ROTORS</span>
        </div>
        <div class="footer-contacts">
          <div class="footer-contacts_details">
            <p>Телефон: &#160; &#160; &#160; </p>
            <p>Email:  </p>
          </div>
          <div>
            <p><a href="tel:+380636309711"><i class="fas fa-phone-alt"></i>&#160;<span>+38(063) 63 09711</span></a></p>
            <p><a href="mailto:beda21@ukr.net"><i class="fas fa-at"></i>&#160;beda21@ukr.net</a></p>
          </div>
        </div>
        <div class="developer">Developed by</div>
      </div>
    </div>
    <p class="footer-bootom">Всі права захищені © LVIV ROTORS 2020</p>
  </footer>
</div>
