<ngx-glide [arrowLeftLabel]="'<'" [arrowRightLabel]="'>'" [type]="'carousel'" [gap]="10" [autoplay]="3000"
  [animationDuration]="1500" [perView]="4">
  <div class="slide">
    <a [routerLink]="['/products']" class="btn">
      <span class="card_img-wrap">
        <img src="../../../assets/images/Rectangle 31.png" alt="">
      </span>
      <span class="slide_description">Some text 1</span>
    </a>
  </div>
  <div class="slide">
    <a [routerLink]="['/products']" class="btn">
      <span class="card_img-wrap">
        <img src="../../../assets/images/Rectangle 31.png" alt="">
      </span>
      <span class="slide_description">Some text 1</span>
    </a>
  </div>
  <div class="slide">
    <a [routerLink]="['/products']" class="btn">
      <span class="card_img-wrap">
        <img src="../../../assets/images/Rectangle 31.png" alt="">
      </span>
      <span class="slide_description">Some text 1</span>
    </a>
  </div>
  <div class="slide">
    <a [routerLink]="['/products']" class="btn">
      <span class="card_img-wrap">
        <img src="../../../assets/images/Rectangle 31.png" alt="">
      </span>
      <span class="slide_description">Some text 1</span>
    </a>
  </div>

</ngx-glide>
