// @import '../admin-table/admin-table.component.scss';

.product{
  min-width: 170px;
  border: 1px dotted #ccc;
  border-radius: .25rem;
  padding: 1.25rem;
  margin-bottom: .2rem;
  cursor: pointer;
}

// .button-group {
//   button {
//     border-radius:  3px;
//   }
// }

// a{
//   color: #967209a1;
// }
