@import "../../../../assets/scss/utils.scss";
@import "../../../../assets/scss/variables.scss";

.wrapp {
  margin-top: 2rem;
  display: flex;
}



// Main
main {
  width: 100%;
  position: relative;
  // overflow: hidden;
}

.toggle-btn{
  padding: 0 1.5rem;
  border: 0;
  outline: 0;
  margin: 0 1rem 0 .2rem;
  border-radius: 3px;
  background-color: #ffb300;
  color: #fff;
  white-space: nowrap;
  font-size: 1rem;
  cursor: pointer;
}

.search-wrapp{
  display: flex;
}

.search {
  width: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid #afafaf;
  outline: none;
  margin-right: .2rem;
}

.search:focus{
  border-color: #ffb300;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: 0 -8px;

  // justify-content: space-between;
  > * {
    margin: 0 3px 30px;
    width: calc(100% / 3 - 6px);
  }
  // &:nth-child() {
  // }
}

// Sidenav Material
mat-sidenav-container {
  height: 100%;



  mat-sidenav{
    width: 250px;
  }
}



@media (max-width: 768px){
  .card_container {
    padding: 0 .1rem;
  > * {
      width: calc(100% / 2 - 6px);
    }
    // &:nth-child() {
    // }
  }
}

@media (max-width: 400px) {
  .card_container{
    padding: 0 .1rem;
    > * {
      width: calc(100% - 6px);
    }
  }
}


.loader{
  margin: 3rem auto;
}
